<div *ngIf="loading" class="alert alert-info" role="alert">
  <h4 class="alert-heading">Cargando...</h4>
  <p><i class="fa fa-sync fa-spin  fa-2x"></i></p>
  <hr>
  <p class="mb-0"></p>
</div>

<div *ngIf="error" class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error</h4>
  <pre>
    {{error | json}}
  </pre>
  <hr>
</div>


<div class="row car-columns">
  <div class="card card-body col-lg-4 col-ms-4" style="width: 18rem;" *ngFor="let usuario of usuarios">
    <img [src]="usuario.avatar" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{usuario.first_name}} {{usuario.last_name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <p class="card-text">
        <span class="text-muted">ID: {{usuario.id}}</span>
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

